html, body {
    text-align: center;
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    /*font-family: Sturkopf Grotesk, sans-serif; */
    font-family: sans-serif;
}
#global {
    margin: 0;
    aspect-ratio: 16/9;
    width: 100%;
}
#comp_title {
    font-size: 8vh;
}
#time {
    font-size: 25vh;
    text-align: left;
    margin-left: 25%;
    width: 30%;
    display: block;
}
#starts {
    overflow: hidden;
    text-align: left;
    font-size: 8vh;
    padding-left: 1%;
    width: 98%;
}
#hl {
    border-top: white solid;
    animation: expand 10s;
    animation-timing-function: linear;
}
@keyframes expand {
  from {width: 0;}
  to {width: 98%;}
}
#start_title {
    font-weight: bold;
}
.dns {
    text-decoration: line-through;
    color: #888888;
}
