:root {
    --dark: #002F6C;
    --medium: #005B96;
    --light: #00A4CC;
    --highlight: #AEECEF;
    --white: #F0F8FF;
    --card-yellow: #ECDE41;
    --card-red: #F83741;
}

html, body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(var(--medium), var(--dark));
    height: 100%;
    font-family: "sans";
    background-attachment: fixed;
    color: var(--medium);
}

#compy_title {
    width: 95vw;
    font-size: 2vh;
    color: var(--medium);
    background: var(--dark);
    padding-left: 5vw;
}

#competition {
    color: var(--highlight);
    font-size: 3vh;
    line-height: 4vh;
    padding: 1vw 5vw 1vw 5vw;
    border-bottom: 0.1vh solid var(--highlight);
}

#judge {
    color: var(--highlight);
    font-size: 2vh;
    line-height: 3vh;
    padding: 1vw 5vw 1vw 5vw;
    border-bottom: 0.1vh solid var(--highlight);
}

#judge_name {
    font-weight: bold;
}

#content, #continue {
    padding: 3vw 5vw 3vw 5vw;
}

#continue {
    display: none;
}

button {
    width: 90vw;
    border: 0.1vh solid var(--light);
    background-color: var(--white);
    color: var(--medium);
    font-size: 3vh;
    margin-bottom: 3vh;
    border-radius: 1.5vh;
    height: 5vh;
}

table {
    width: 90vw;
    border-spacing: 0 2vh;
    margin-top: -2vh;
    color: var(--dark);
    font-size: 3vh;
    line-height: 3.5vh;
}

th, td {
    text-align: left;
    padding: 2vw;
    border: 0.1vh solid var(--light);
    background-color: var(--white);
}

th:first-child, td:first-child {
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}

th:last-child, td:last-child {
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
}

.info_all, #continue_msg {
    background-color: var(--white);
    border: 0.1vh solid var(--light);
    border-radius: 1vh;
    margin-bottom: 3vh;
}

#continue_msg {
    padding: 3vw;
}

.info_all:after, .grouper:after {
    content: "";
    clear: both;
    display: table;
}

.info_all div:first-child {
    padding-left: 3vw;
}

.info_piece {
    float: left;
}

#info_ot {
    width: 17vw;
}

#info_nat {
    width: 14vw;
}

#info_name {
    width: 55vw;
}

#info_RP, #info_card, #info_penalty {
    width: 28vw;
}

#info_AP, #info_PB, #info_NR, #info_dis {
    width: 21vw;
}

.info_head {
    font-size: 2vh;
    color: var(--light);
    line-height: 2.5vh;
}

.info {
    display: inline-block;
}

.info, #continue_msg, .card, .remark, #under_ap_penalty, .error {
    font-size: 3vh;
    line-height: 3.5vh;
    color: var(--dark);
}

.error {
    color: var(--card-red);
}

.card {
    width: 25vw;
    border: 0.1vw solid var(--medium);
    border-radius: 1vh;
    display: inline-block;
    text-align: center;
    margin-bottom: 1vh;
}

.card.white {
    background: var(--white);
}

.card.yellow {
    background: var(--card-yellow);
}

.card.red {
    background: var(--card-red);
}

.card.highlight, .remark.highlight {
    border: 0.5vw solid var(--dark);
    font-weight: bold;
}

.remark {
    border: 0.1vw solid var(--medium);
    border-radius: 1vh;
    text-align: center;
    display: inline-block;
    padding: 0 1vw;
    margin-left: 1vw;
}

input {
    font-size: 3vh;
    color: var(--medium);
    margin-bottom: 1vh;
}

#penalty_input {
    width: 25vw;
}

#under_ap_penalty {
    margin-left: 2vw;
}

.width50 {
    width: 44vw;
    float: left;
    margin-right: 2vw;
}

.shift50 {
    margin-left: 46vw;
}

.grouper button:last-child {
    margin-right: 0;
}

#result_input {
    min-height: 9.2vh;
}

.info_all {
    min-height: 7.5vh;
}
