.card {
    width: 80px;
    border: 2px solid lightgrey;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.card.white {
    background: #ffffff;
}

.card.yellow {
    background: #fffb00;
}

.card.red {
    background: #ff0000;
}

.card.highlight {
    border: 2px solid black;
}
